/* open-sans-regular - latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("fonts/open-sans-v13-latin-ext-regular.woff2") format("woff2"), url("fonts/open-sans-v13-latin-ext-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("fonts/open-sans-v13-latin-ext-italic.woff2") format("woff2"), url("fonts/open-sans-v13-latin-ext-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("fonts/open-sans-v13-latin-ext-600.woff2") format("woff2"), url("fonts/open-sans-v13-latin-ext-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("fonts/open-sans-v13-latin-ext-600italic.woff2") format("woff2"), url("fonts/open-sans-v13-latin-ext-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* line 57, ../sass/styles.scss */
* {
  box-sizing: border-box;
  font-size: 14px;
}

/* line 62, ../sass/styles.scss */
body {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  background-color: #fafafa;
  color: #34495e;
  margin: 0;
  padding: 0;
}

/* line 71, ../sass/styles.scss */
h2, h3, h4 {
  color: #2c3e50;
  font-weight: 600;
}

/* line 76, ../sass/styles.scss */
b {
  font-weight: 600;
}

/* line 80, ../sass/styles.scss */
a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
  color: #2c3e50;
  font-weight: bold;
}
/* line 86, ../sass/styles.scss */
a:hover {
  color: #34495e;
}

/* line 91, ../sass/styles.scss */
input {
  font-family: roboto,Helvetica,Arial,sans-serif;
  font-size: 24px;
  color: #34495e;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 15px;
}

/* line 100, ../sass/styles.scss */
.txt-center {
  text-align: center;
}

/* line 104, ../sass/styles.scss */
.souligne {
  text-decoration: underline;
}

/* line 108, ../sass/styles.scss */
.interaction {
  color: #8e44ad;
}

/* line 112, ../sass/styles.scss */
.message-erreur {
  color: #c0392b;
  display: inline-block;
}

/* line 117, ../sass/styles.scss */
#_hoverBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
/* line 127, ../sass/styles.scss */
#_hoverBg > div {
  padding: 10px;
  background-color: #fafafa;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 135, ../sass/styles.scss */
.bouton {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #2c3e50 !important;
  display: inline-block !important;
  border-radius: 3px !important;
  color: #fafafa !important;
  padding: 2px 5px;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}
/* line 146, ../sass/styles.scss */
.bouton.inactif {
  pointer-events: none;
  background-color: #aaa !important;
}
/* line 151, ../sass/styles.scss */
.bouton.gros {
  font-size: 25px;
}
/* line 155, ../sass/styles.scss */
.bouton.warning {
  background-color: #c0392b !important;
}
/* line 157, ../sass/styles.scss */
.bouton.warning:hover {
  background-color: #db695d !important;
}
/* line 162, ../sass/styles.scss */
.bouton:hover {
  background-color: #476481 !important;
}

/* line 167, ../sass/styles.scss */
.bout-choix-dossier {
  text-decoration: none;
}
/* line 169, ../sass/styles.scss */
.bout-choix-dossier span.chemin-choisi {
  display: inline-block;
  color: #587ca0;
  font-weight: normal;
  font-size: 14px;
}
/* line 176, ../sass/styles.scss */
.bout-choix-dossier .bouton {
  margin-left: 10px;
}

/* line 181, ../sass/styles.scss */
.logo {
  font-size: 60px;
}

/* line 186, ../sass/styles.scss */
.section.principale {
  background-color: #f5f5f5;
}
/* line 190, ../sass/styles.scss */
.section > div {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
}

/* line 197, ../sass/styles.scss */
.page {
  display: none;
}

/* line 202, ../sass/styles.scss */
.liste-cloud {
  display: block;
  overflow: hidden;
}

/* line 209, ../sass/styles.scss */
.choix-cloud {
  margin-top: 30px;
}
/* line 212, ../sass/styles.scss */
.choix-cloud > span {
  padding-left: 110px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  height: 64px;
  padding-top: 0px;
  width: 100%;
}
/* line 221, ../sass/styles.scss */
.choix-cloud > span .logo {
  position: absolute;
  left: 30px;
  top: 0;
}
/* line 228, ../sass/styles.scss */
.choix-cloud > span i.fleche {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #587ca0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 64px;
}
/* line 238, ../sass/styles.scss */
.choix-cloud > span .nom-cloud {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
}
/* line 244, ../sass/styles.scss */
.choix-cloud > span .chemin {
  font-size: 14px;
}
/* line 249, ../sass/styles.scss */
.choix-cloud > span.autre-cloud .chemin {
  display: none;
}
/* line 254, ../sass/styles.scss */
.choix-cloud > span.actif {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  display: none;
}
/* line 259, ../sass/styles.scss */
.choix-cloud > span.actif.autre-cloud {
  display: inline-block;
}
/* line 265, ../sass/styles.scss */
.choix-cloud > span.actif:hover .nom-cloud {
  color: #34495e;
}
/* line 268, ../sass/styles.scss */
.choix-cloud > span.actif:hover .fleche {
  opacity: 1;
}
/* line 273, ../sass/styles.scss */
.choix-cloud > span.actif .nom-cloud {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #2c3e50;
  text-decoration: underline;
}
/* line 279, ../sass/styles.scss */
.choix-cloud > span.actif .chemin {
  color: #587ca0;
}
/* line 285, ../sass/styles.scss */
.choix-cloud > span.inactif .nom-cloud {
  color: #587ca0;
}
/* line 288, ../sass/styles.scss */
.choix-cloud > span.inactif .chemin {
  color: #587ca0;
}
/* line 294, ../sass/styles.scss */
.choix-cloud > span.choisi i.fleche {
  opacity: 1;
  color: #2c3e50;
}
/* line 298, ../sass/styles.scss */
.choix-cloud > span.choisi .nom-cloud {
  color: #34495e;
}

/* line 308, ../sass/styles.scss */
.autre-dossier {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  text-decoration: underline;
}

/* line 317, ../sass/styles.scss */
#contBrowser {
  opacity: 0;
}

/* line 321, ../sass/styles.scss */
.local-browser {
  font-size: 13px;
}
/* line 324, ../sass/styles.scss */
.local-browser .parent {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  background-color: #2c3e50;
  padding: 3px 5px 5px 5px;
  color: #fafafa;
}
/* line 333, ../sass/styles.scss */
.local-browser .parent a.dossier {
  color: #fafafa;
}
/* line 338, ../sass/styles.scss */
.local-browser .liste-enfants {
  height: 200px;
  overflow: auto;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* line 345, ../sass/styles.scss */
.local-browser a.dossier {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;
  position: relative;
  padding-left: 20px;
  margin: 2px 0;
}
/* line 354, ../sass/styles.scss */
.local-browser a.dossier img {
  position: absolute;
  left: 0;
  right: 0;
}
/* line 360, ../sass/styles.scss */
.local-browser a.dossier.in-liste {
  width: 550px;
}

/* line 373, ../sass/styles.scss */
.sauvegarde {
  display: inline-block;
  width: 300px;
  height: 375px;
  vertical-align: top;
  border: 1px solid #16a085;
  border-radius: 5px;
  padding: 0px;
  margin: 0 20px 20px 0;
  position: relative;
}
/* line 384, ../sass/styles.scss */
.sauvegarde .cont-bouton {
  display: none;
  text-align: center;
  padding-top: 8px;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 3px 3px;
  background-color: #dddddd;
}
/* line 396, ../sass/styles.scss */
.sauvegarde .cont-bouton.existant {
  display: block;
}
/* line 397, ../sass/styles.scss */
.sauvegarde .cont-bouton a {
  display: inline-block;
  text-decoration: none;
  color: #8e44ad;
  margin: 0 5px;
}
/* line 402, ../sass/styles.scss */
.sauvegarde .cont-bouton a i {
  font-size: 25px;
}
/* line 406, ../sass/styles.scss */
.sauvegarde .cont-bouton a span {
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
}
/* line 414, ../sass/styles.scss */
.sauvegarde .label {
  display: block;
  margin: 5px 0;
  color: #2c3e50;
  font-style: italic;
}
/* line 422, ../sass/styles.scss */
.sauvegarde.ajout .entete {
  background-color: #16a085;
}
/* line 426, ../sass/styles.scss */
.sauvegarde.ajout h3 {
  font-size: 20px;
  margin-top: 10px;
}
/* line 431, ../sass/styles.scss */
.sauvegarde.ajout .form {
  padding: 10px;
}
/* line 438, ../sass/styles.scss */
.sauvegarde .entete {
  text-align: center;
  color: #fafafa;
  background-color: #16a085;
  border-radius: 3px 3px 0 0;
  padding: 10px 0;
  font-size: 35px;
  height: 60px;
}
/* line 448, ../sass/styles.scss */
.sauvegarde .titre {
  height: 60px;
}
/* line 452, ../sass/styles.scss */
.sauvegarde h3 {
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 30px;
}
/* line 458, ../sass/styles.scss */
.sauvegarde h4 {
  font-size: 16px;
  margin: 0 0 15px 0;
}
/* line 463, ../sass/styles.scss */
.sauvegarde .message-erreur {
  font-size: 12px;
}
/* line 467, ../sass/styles.scss */
.sauvegarde .sous-titre {
  text-align: center;
}
/* line 471, ../sass/styles.scss */
.sauvegarde .contenant {
  padding: 0px;
  height: 195px;
  overflow: hidden;
}
/* line 477, ../sass/styles.scss */
.sauvegarde .contenant .contenu .sous-contenu {
  padding: 10px;
  height: 195px;
}
