@font-face {
  font-family: roboto;
  src: url("fonts/Roboto Slab regular-webfont.eot");
  src: url("fonts/Roboto Slab regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto Slab regular-webfont.woff2") format("woff2"), url("fonts/Roboto Slab regular-webfont.woff") format("woff"), url("fonts/Roboto Slab regular-webfont.ttf") format("truetype"), url("fonts/Roboto Slab regular-webfont.svg#roboto_slabregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url("fonts/Roboto Slab 700-webfont.eot");
  src: url("fonts/Roboto Slab 700-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto Slab 700-webfont.woff2") format("woff2"), url("fonts/Roboto Slab 700-webfont.woff") format("woff"), url("fonts/Roboto Slab 700-webfont.ttf") format("truetype"), url("fonts/Roboto Slab 700-webfont.svg#roboto_slabbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.eot?-s1q4tu);
  src: url(fonts/icomoon.eot?#iefix-s1q4tu) format("embedded-opentype"), url(fonts/icomoon.woff?-s1q4tu) format("woff"), url(fonts/icomoon.ttf?-s1q4tu) format("truetype"), url(fonts/icomoon.svg?-s1q4tu#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* line 49, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 53, ../sass/styles.scss */
body {
  font-family: roboto,Helvetica,Arial,sans-serif;
  background-color: #fafafa;
  color: #4e443c;
  margin: 0;
  padding: 0;
}

/* line 62, ../sass/styles.scss */
h2, h3, h4 {
  color: #13747D;
}

/* line 66, ../sass/styles.scss */
a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
  color: #13747D;
  font-weight: bold;
}
/* line 72, ../sass/styles.scss */
a:hover {
  color: #4e443c;
}

/* line 77, ../sass/styles.scss */
input {
  font-family: roboto,Helvetica,Arial,sans-serif;
  font-size: 24px;
  color: #4e443c;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 15px;
}

/* line 86, ../sass/styles.scss */
.txt-center {
  text-align: center;
}

/* line 90, ../sass/styles.scss */
.message-erreur {
  color: #aa0000;
  display: inline-block;
  padding-left: 10px;
}

/* line 96, ../sass/styles.scss */
#_hoverBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
/* line 106, ../sass/styles.scss */
#_hoverBg > div {
  padding: 10px;
  background-color: #fafafa;
  max-width: 800px;
  margin: 0 auto;
}

/* line 114, ../sass/styles.scss */
.bouton {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #13747D !important;
  display: inline-block !important;
  border-radius: 3px !important;
  color: #fafafa !important;
  padding: 2px 5px;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}
/* line 125, ../sass/styles.scss */
.bouton.inactif {
  pointer-events: none;
  background-color: #cccccc !important;
}
/* line 130, ../sass/styles.scss */
.bouton.gros {
  font-size: 25px;
}
/* line 134, ../sass/styles.scss */
.bouton.warning {
  background-color: #aa0000 !important;
}
/* line 136, ../sass/styles.scss */
.bouton.warning:hover {
  background-color: #f60000 !important;
}
/* line 141, ../sass/styles.scss */
.bouton:hover {
  background-color: #1db2bf !important;
}

/* line 146, ../sass/styles.scss */
.bout-choix-dossier {
  text-decoration: none;
}
/* line 148, ../sass/styles.scss */
.bout-choix-dossier span.chemin-choisi {
  display: inline-block;
  color: #887668;
  font-weight: normal;
  font-size: 14px;
}
/* line 155, ../sass/styles.scss */
.bout-choix-dossier .bouton {
  margin-left: 10px;
}

/* line 160, ../sass/styles.scss */
.logo {
  font-size: 60px;
}

/* line 165, ../sass/styles.scss */
.section.principale {
  background-color: #f5f5f5;
}
/* line 169, ../sass/styles.scss */
.section > div {
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
}

/* line 176, ../sass/styles.scss */
.page {
  display: none;
}

/* line 181, ../sass/styles.scss */
.liste-cloud {
  display: block;
  overflow: hidden;
}

/* line 188, ../sass/styles.scss */
.choix-cloud {
  margin-top: 30px;
}
/* line 191, ../sass/styles.scss */
.choix-cloud > span {
  padding-left: 110px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  height: 64px;
  padding-top: 0px;
  width: 100%;
}
/* line 200, ../sass/styles.scss */
.choix-cloud > span .logo {
  position: absolute;
  left: 30px;
  top: 0;
}
/* line 207, ../sass/styles.scss */
.choix-cloud > span i.fleche {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #887668;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 64px;
}
/* line 217, ../sass/styles.scss */
.choix-cloud > span .nom-cloud {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
}
/* line 223, ../sass/styles.scss */
.choix-cloud > span .chemin {
  font-size: 14px;
}
/* line 228, ../sass/styles.scss */
.choix-cloud > span.autre-cloud .chemin {
  display: none;
}
/* line 233, ../sass/styles.scss */
.choix-cloud > span.actif {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  display: none;
}
/* line 238, ../sass/styles.scss */
.choix-cloud > span.actif.autre-cloud {
  display: inline-block;
}
/* line 244, ../sass/styles.scss */
.choix-cloud > span.actif:hover .nom-cloud {
  color: #4e443c;
}
/* line 247, ../sass/styles.scss */
.choix-cloud > span.actif:hover .fleche {
  opacity: 1;
}
/* line 252, ../sass/styles.scss */
.choix-cloud > span.actif .nom-cloud {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #13747D;
  text-decoration: underline;
}
/* line 258, ../sass/styles.scss */
.choix-cloud > span.actif .chemin {
  color: #887668;
}
/* line 264, ../sass/styles.scss */
.choix-cloud > span.inactif .nom-cloud {
  color: #887668;
}
/* line 267, ../sass/styles.scss */
.choix-cloud > span.inactif .chemin {
  color: #887668;
}
/* line 273, ../sass/styles.scss */
.choix-cloud > span.choisi i.fleche {
  opacity: 1;
  color: #13747D;
}
/* line 277, ../sass/styles.scss */
.choix-cloud > span.choisi .nom-cloud {
  color: #4e443c;
}

/* line 287, ../sass/styles.scss */
.autre-dossier {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  text-decoration: underline;
}

/* line 296, ../sass/styles.scss */
#contBrowser {
  opacity: 0;
}

/* line 300, ../sass/styles.scss */
.local-browser {
  font-size: 13px;
}
/* line 303, ../sass/styles.scss */
.local-browser .parent {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  background-color: #13747D;
  padding: 3px 5px 5px 5px;
  color: #fafafa;
}
/* line 312, ../sass/styles.scss */
.local-browser .parent a.dossier {
  color: #fafafa;
}
/* line 317, ../sass/styles.scss */
.local-browser .liste-enfants {
  height: 200px;
  overflow: auto;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* line 324, ../sass/styles.scss */
.local-browser a.dossier {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;
  position: relative;
  padding-left: 20px;
  margin: 2px 0;
}
/* line 333, ../sass/styles.scss */
.local-browser a.dossier img {
  position: absolute;
  left: 0;
  right: 0;
}
/* line 339, ../sass/styles.scss */
.local-browser a.dossier.in-liste {
  width: 350px;
}

/* line 346, ../sass/styles.scss */
.sauvegarde {
  display: inline-block;
  max-width: 380px;
  vertical-align: top;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}
