@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "copic";
@import "polices";


$largeur-max: 1200px;
$couleur-fond: $CC0;
$couleur-texte: $CC10;
$couleur-titre: $CC8;
$couleur-texte-clair: lighten($couleur-texte, 20);
$couleur-bouton-inactif : #aaa;
$couleur-erreur : $CR29;
$couleur-erreur-claire : lighten($couleur-erreur, 15);
$couleur-interaction : $CBG78;
$couleur-interaction-claire : lighten($couleur-interaction, 15);
$couleur-blanc : #ffffff;

@import "localBrowser";
@import "page.listeClouds";
@import "carteSauvegarde";

* {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: $couleur-fond;
    margin: 0;
    padding: 0;
    color: $couleur-texte;
    font-size: 14px;
}


h2, h3, h4 {
    color: $couleur-titre;
    font-weight: 600;
}

b {
    font-weight: 600;
}

a { color: $couleur-interaction; }

input {
    font-size: 24px;
    color: $couleur-texte;
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 15px;
    border: 1px solid $couleur-texte-clair;
    
    &:focus { outline: none; }
}


.txt-center { text-align: center; }
.txt-grand { font-size: 16px; }
.txt-justify { text-align: justify;}
.souligne { text-decoration: underline; }
.interaction { color: $couleur-interaction; }
.danger { color: $couleur-erreur; }

.message-erreur {
    color: $couleur-erreur;
    display: block;
}

#_hoverBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    
    & > div {
        padding: 10px;
        background-color: $couleur-fond;
        max-width: $largeur-max;
        margin: 0 auto;
    }
}

.bouton {
    @include single-transition(all, 0.2s);
    background-color: $couleur-interaction !important;
    display: inline-block !important;
    border-radius: 3px !important;
    color: $couleur-fond !important;
    padding: 2px 5px;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    
    &:hover {
        background-color: $couleur-interaction-claire !important;
    }
    
    &.inactif {
        pointer-events: none;
        background-color: $couleur-bouton-inactif !important;
    }
    
    &.gros {
        font-size: 25px;
    }
    
    &.warning {
        background-color: $couleur-erreur !important;
        &:hover {
            background-color: $couleur-erreur-claire !important;
        }
    }
}

.section {
    & > div {
        max-width: $largeur-max;
        margin: auto;
        padding: 20px 10px;
    }
    
    &.entete {
        background-color: $couleur-texte;
        .logo {
            color: $couleur-fond;
            font-size: 60px;
        }
    }
    
    &.principale {
    } 
}


