@import "compass/css3/transition";

$largeur-max: 800px;
$couleur-fond: #fafafa;
$couleur-texte: #4e443c;
$couleur-texte-bis: #13747D;
$couleur-texte-clair: lighten($couleur-texte, 20);
$couleur-texte-en-avant: #cf361b;
$couleur-fond-contenu: #fafafa;
$couleur-fond-bis: #f5f5f5;
$couleur-bouton-inactif : #cccccc;
$couleur-erreur : #aa0000;

@font-face{
    font-family: roboto;
    src: url('fonts/Roboto Slab regular-webfont.eot');
    src: url('fonts/Roboto Slab regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto Slab regular-webfont.woff2') format('woff2'),
        url('fonts/Roboto Slab regular-webfont.woff') format('woff'),
        url('fonts/Roboto Slab regular-webfont.ttf') format('truetype'),
        url('fonts/Roboto Slab regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face{
    font-family: roboto;
    src: url('fonts/Roboto Slab 700-webfont.eot');
    src: url('fonts/Roboto Slab 700-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto Slab 700-webfont.woff2') format('woff2'),
        url('fonts/Roboto Slab 700-webfont.woff') format('woff'),
        url('fonts/Roboto Slab 700-webfont.ttf') format('truetype'),
        url('fonts/Roboto Slab 700-webfont.svg#roboto_slabbold') format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face{
    font-family: icomoon;
    src: url(fonts/icomoon.eot?-s1q4tu);
    src: url(fonts/icomoon.eot?#iefix-s1q4tu) format('embedded-opentype'),
        url(fonts/icomoon.woff?-s1q4tu) format('woff'),
        url(fonts/icomoon.ttf?-s1q4tu) format('truetype'),
        url(fonts/icomoon.svg?-s1q4tu#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
}

body {
    font-family: roboto,Helvetica,Arial,sans-serif;
    background-color: $couleur-fond;
    color: $couleur-texte;
    margin: 0;
    padding: 0;
}


h2, h3, h4 {
    color: $couleur-texte-bis;
}

a {
    @include single-transition(all, 0.3s);
    text-decoration: underline;
    color: $couleur-texte-bis;
    font-weight: bold;
    
    &:hover {
        color: $couleur-texte;
    }
}

input {
    font-family: roboto,Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: $couleur-texte;
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 15px;
}

.txt-center {
    text-align: center;
}

.message-erreur {
    color: $couleur-erreur;
    display: inline-block;
    padding-left: 10px;
}

#_hoverBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    
    & > div {
        padding: 10px;
        background-color: $couleur-fond;
        max-width: $largeur-max;
        margin: 0 auto;
    }
}

.bouton {
    @include single-transition(all, 0.2s);
    background-color: $couleur-texte-bis !important;
    display: inline-block !important;
    border-radius: 3px !important;
    color: $couleur-fond !important;
    padding: 2px 5px;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    
    &.inactif {
        pointer-events: none;
        background-color: $couleur-bouton-inactif !important;
    }
    
    &.gros {
        font-size: 25px;
    }
    
    &.warning {
        background-color: $couleur-erreur !important;
        &:hover {
            background-color: lighten($couleur-erreur, 15) !important;
        }
    }
    
    &:hover {
        background-color: lighten($couleur-texte-bis, 15) !important;
    }
}

.bout-choix-dossier {
    text-decoration: none;
    span.chemin-choisi {
        display: inline-block;
        color: $couleur-texte-clair;
        font-weight: normal;
        font-size: 14px;
    }
    
    .bouton {
        margin-left: 10px;
    }
}

.logo {
    font-size: 60px;
}

.section {
    &.principale {
        background-color: $couleur-fond-bis;
    }
    
    & > div {
        max-width: $largeur-max;
        margin: auto;
        padding: 20px 10px;
    }
}

.page {
    display: none;
}


.liste-cloud {
   // @include single-transition(all, 0.3s);
    display: block;
    overflow: hidden;
    
}

.choix-cloud {
    margin-top: 30px;
    
    & > span {
        padding-left: 110px;
        display:inline-block;
        margin-bottom: 10px;
        position: relative;
        height: 64px;
        padding-top: 0px;    
        width: 100%;

        .logo {
            position: absolute;
            left: 30px;
            top: 0;
            
        }
        
        i.fleche {
            @include single-transition(all, 0.3s);
            color: $couleur-texte-clair;
            position: absolute;
            left : 0;
            top : 0;
            opacity: 0;
            font-size: 64px;
        }
        
        .nom-cloud {
            font-size: 18px;
            line-height: 35px;
            font-weight: 700;
        }
        
        .chemin {
            font-size: 14px; 
        }
        
        &.autre-cloud {
            .chemin {
                display: none;
            }
        }
        
        &.actif {
            @include single-transition(all, 0.3s);
            cursor: pointer;
            display: none;
            
            &.autre-cloud {
                display: inline-block;
            }
            
            &:hover {
                //background-color: #fff;
                .nom-cloud {
                    color: $couleur-texte;
                }
                .fleche {
                    opacity: 1;
                }
            }
            
            .nom-cloud {
                @include single-transition(all, 0.3s);
                color: $couleur-texte-bis;
                text-decoration: underline;
            }

            .chemin {
                color: $couleur-texte-clair;           
            }
        }
        
        &.inactif {
            .nom-cloud {
                color: $couleur-texte-clair;
            }
            .chemin {
                color: $couleur-texte-clair;
            }
        }
        
        &.choisi {
            i.fleche {
                opacity: 1;
                color: $couleur-texte-bis;
            }
            .nom-cloud {
                color: $couleur-texte;
            }
        }
    }
    
    
}


.autre-dossier {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    text-decoration: underline;
}

#contBrowser {
    opacity: 0;
}

.local-browser {
    font-size: 13px;
    
    .parent {
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        background-color: $couleur-texte-bis;
        padding: 3px 5px 5px 5px;
        color: $couleur-fond;
        
        
        a.dossier {
            color: $couleur-fond;
        }
    }
    
    .liste-enfants {
        height: 200px;
        overflow: auto;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
    a.dossier {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        text-decoration: underline;
        position: relative;
        padding-left: 20px;
        margin: 2px 0;
        
        img {
            position: absolute;
            left: 0;
            right: 0;
        }
        
        &.in-liste {
            width: $largeur-max / 2 - 50px;
            
        }
    }
}